
.page-header
  = link_to new_admin_article_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Article
  -# %h1 Listing articles
  %br/
  .container

    - @articles.each do |article|
      .card.card-info.mt-4
        .card-title
          %h4.some{ :style => "color:#065A60" }= article.name 
        .card-body.padding
          %button.label.label-info
            = article.category.name
          %p= truncate(article.body, :length => 1000, :omission => '...')
          =link_to 'Show detail...', article
      %br/
      %br/
      