%br
= image_tag('devbootstrap.png', style:'height:60%;width:60%;margin-left:20%;')
.container
  .row
    .col-md-12.text-center
      %h2.service-title.pad-bt15 DevBoostrap Course 
      %p.sub-title.pad-bt15
        DevBootstrap is an intensive software developer training bootcamp teaching Rails,
        %br
        React Native & Unity 3D and is held in 
        %br
        Phnom Penh, Cambodia.
        %br 
        Course started on 10-15, June 2019
      %hr.bottom-line/
    .col-md-3.col-sm-6.col-xs-12
      .service-item
        %h3
          %span> C 
          ourse Location
        %p DevBootstrap Villa, Villa # 2C, Street 490, Sangkat Phsar Daeum Thkov, Khan Chamkar Morn,Phnom Penh.12307.Cambodia
    .col-md-3.col-sm-6.col-xs-12
      .service-item
        %h3
          %span> S 
          ovannthai
        %p Sovannthai was develop Back-end on this project.Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .col-md-3.col-sm-6.col-xs-12
      .service-item
        %h3
          %span> Samai 
        %p Samai was develop Front-end and Back-end.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .col-md-3.col-sm-6.col-xs-12
      .service-item
        %h3
          %span> B 
          ona
        %p Bona was develop in UI and Back-End.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.


